<a href="https://colab.research.google.com/github/mornaeldernar/BeduFinalR/blob/rafa/dulces.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Equipo 18
- Alef Gama
- Arturo Solís
- Jacob Muñoz
- Javier Castillo
- Rafael Jiménez

# Identificación del problema

Debido a que se acerca Halloween, nos surgió la duda de que dulces son los que mas le gustan a las personas. Entonces analizaremos cuales son los dulces que más gustan.

# Planteamiento de preguntas

* ¿Cuál es el dulce que más le gusta a las personas?
* ¿Hay dulces que le gusten más a cierto rango de edad?
* ¿Cuál dulce le gusta más a los hombres?
* ¿Cuál dulce le gusta más a las mujeres?
* ¿Cuales son el top 5 de dulces en estados unidos?
* ¿Podremos obtener información de los dulces de otros paises?

# Recolección de datos

Estuvimos buscando datos que nos ayudaran a resolver las preguntas planteadas y encontramos una página que se dedicó a hacer encuestas sobre los dulces en 2017 https://www.scq.ubc.ca/so-much-candy-data-seriously/

|||
| --- | :---|
|**Archivo CSV:** | https://www.scq.ubc.ca/wp-content/uploads/2017/10/candyhierarchy2017.csv |
|**Archivo XLSX:** | https://www.scq.ubc.ca/wp-content/uploads/2017/10/candyhierarchy2017.xlsx |
|**Encuesta:** | https://www.scq.ubc.ca/wp-content/uploads/2017/10/candyhierarchysurvey2017.pdf |
|**Fuente:** | https://www.scq.ubc.ca/so-much-candy-data-seriously/ |

## Importando librerias

In [ ]:
import pandas as pd
import numpy as np

## Carga de nuestro conjunto de datos

In [ ]:
df = pd.read_csv('candyhierarchy2017.csv', encoding = "ISO-8859-1")

# Análisis exploratorio de datos
Visualizamos los datos para darnos una idea de como estan

In [ ]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [ ]:
df.shape

(2460, 120)

In [ ]:
df['Unnamed: 113'].isna().sum()

2451

In [ ]:
df['Q12: MEDIA [Daily Dish]'].isna().sum()

2375

In [ ]:
df['Q12: MEDIA [Science]'].isna().sum()

1098

In [ ]:
df['Q12: MEDIA [ESPN]'].isna().sum()

2361

In [ ]:
df['Q12: MEDIA [Yahoo]'].isna().sum()

2393

In [ ]:
df['Q7: JOY OTHER'].isna().sum()

1549

In [ ]:
df['Q8: DESPAIR OTHER'].isna().sum()

1743

In [ ]:
df['Q9: OTHER COMMENTS'].isna().sum()

2074

Eliminamos el internal id y Unnamed:113 que es la imagen de un vestido(no es una pregunta en realidad), y las preguntas q7,q8,q9 son preguntas abiertas.

In [ ]:
df.drop(columns=['Internal ID','Unnamed: 113','Q9: OTHER COMMENTS','Q8: DESPAIR OTHER','Q7: JOY OTHER'], inplace=True)

In [ ]:
df.head()

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,DESPAIR,JOY,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [ ]:
df.shape

(2460, 115)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Columns: 115 entries, Q1: GOING OUT? to Click Coordinates (x, y)
dtypes: float64(4), object(111)
memory usage: 2.2+ MB

Elminamos filas que tengan todos los valores vacios

In [ ]:
df.dropna(how="all", inplace=True)

In [ ]:
df.shape

(2439, 115)

Creamos una funcion que nos evalue el porcentaje de datos vacios en la columnas

In [ ]:
def porcentaje_vacios():
  porcentaje_vacios = (df.isna().sum()/df.shape[0]*100)
  return porcentaje_vacios[porcentaje_vacios>0].sort_values()

In [ ]:
porcentaje_vacios()

Q2: GENDER                           0.820008
Q4: COUNTRY                          1.763018
Q3: AGE                              2.583026
Q5: STATE, PROVINCE, COUNTY, ETC     3.239032
Q1: GOING OUT?                       3.649036
                                      ...
Q6 | JoyJoy (Mit Iodine!)           41.205412
Q12: MEDIA [Science]                44.157442
Q12: MEDIA [ESPN]                   95.940959
Q12: MEDIA [Daily Dish]             96.514965
Q12: MEDIA [Yahoo]                  97.252973
Length: 115, dtype: float64

In [ ]:
columnas = df.columns.to_list()

cambiamos el nombre a los encabezados quitantdo el numero de pregunta

In [ ]:
def new_columns() :
  nueva_columna = []
  for i in columnas:
    if i[2] == ':' :
      nueva_columna.append(i[4:])
      #print(i[4:])
    elif i[3] == ':' or i[3] == '|' :
      nueva_columna.append(i[5:])
      #print(i[5:])
    else:
      nueva_columna.append(i)
      #print(i)
  return nueva_columna
df.columns = new_columns()

In [ ]:
columnas = df.columns[5:].to_list()

In [ ]:
columnas

['100 Grand Bar',
 'Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
 'Any full-sized candy bar',
 'Black Jacks',
 'Bonkers (the candy)',
 'Bonkers (the board game)',
 'Bottle Caps',
 "Box'o'Raisins",
 'Broken glow stick',
 'Butterfinger',
 'Cadbury Creme Eggs',
 'Candy Corn',
 'Candy that is clearly just the stuff given out for free at restaurants',
 'Caramellos',
 'Cash, or other forms of legal tender',
 'Chardonnay',
 'Chick-o-Sticks (we donÕt know what that is)',
 'Chiclets',
 'Coffee Crisp',
 'Creepy Religious comics/Chick Tracts',
 'Dental paraphenalia',
 'Dots',
 'Dove Bars',
 'Fuzzy Peaches',
 'Generic Brand Acetaminophen',
 'Glow sticks',
 'Goo Goo Clusters',
 "Good N' Plenty",
 'Gum from baseball cards',
 'Gummy Bears straight up',
 'Hard Candy',
 'Healthy Fruit',
 'Heath Bar',
 "Hershey's Dark Chocolate",
 'HersheyÕs Milk Chocolate',
 "Hershey's Kisses",
 'Hugs (actual physical hugs)',
 'Jolly Rancher (bad flavor)',
 'Jolly Ranchers (good flavor)',
 'JoyJoy (Mit Iodine!)',
 'Junior Mints',
 'Senior Mints',
 'Kale smoothie',
 'Kinder Happy Hippo',
 'Kit Kat',
 'LaffyTaffy',
 'LemonHeads',
 'Licorice (not black)',
 'Licorice (yes black)',
 'Lindt Truffle',
 'Lollipops',
 'Mars',
 'Maynards',
 'Mike and Ike',
 'Milk Duds',
 'Milky Way',
 'Regular M&Ms',
 'Peanut M&MÕs',
 "Blue M&M's",
 "Red M&M's",
 "Green Party M&M's",
 "Independent M&M's",
 "Abstained from M&M'ing.",
 'Minibags of chips',
 'Mint Kisses',
 'Mint Juleps',
 'Mr. Goodbar',
 'Necco Wafers',
 'Nerds',
 'Nestle Crunch',
 "Now'n'Laters",
 'Peeps',
 'Pencils',
 'Pixy Stix',
 'Real Housewives of Orange County Season 9 Blue-Ray',
 'ReeseÕs Peanut Butter Cups',
 "Reese's Pieces",
 'Reggie Jackson Bar',
 'Rolos',
 'Sandwich-sized bags filled with BooBerry Crunch',
 'Skittles',
 'Smarties (American)',
 'Smarties (Commonwealth)',
 'Snickers',
 'Sourpatch Kids (i.e. abominations of nature)',
 'Spotted Dick',
 'Starburst',
 'Sweet Tarts',
 'Swedish Fish',
 'Sweetums (a friend to diabetes)',
 'Take 5',
 'Tic Tacs',
 'Those odd marshmallow circus peanut things',
 'Three Musketeers',
 'Tolberone something or other',
 'Trail Mix',
 'Twix',
 'Vials of pure high fructose corn syrup, for main-lining into your vein',
 'Vicodin',
 'Whatchamacallit Bars',
 'White Bread',
 'Whole Wheat anything',
 'York Peppermint Patties',
 'DRESS',
 'DAY',
 'MEDIA [Daily Dish]',
 'MEDIA [Science]',
 'MEDIA [ESPN]',
 'MEDIA [Yahoo]',
 'Click Coordinates (x, y)']

Eliminamos las filas que no validaron el proceso de envio de la encuesta.

In [ ]:
df = df.dropna(subset=['Click Coordinates (x, y)'], axis=0)

In [ ]:
df.shape

(1605, 115)

Eliminamos las columnas de validacion de encuesta

In [ ]:
df.drop(columns=['MEDIA [ESPN]','MEDIA [Daily Dish]','MEDIA [Science]','MEDIA [Yahoo]','Click Coordinates (x, y)'], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df.shape

(1605, 110)

In [ ]:
porcentaje_vacios()

GENDER                              0.560748
HersheyÕs Milk Chocolate            0.623053
DAY                                 0.685358
Hershey's Dark Chocolate            0.685358
Peanut M&MÕs                        0.685358
                                     ...
Sweetums (a friend to diabetes)    19.314642
Bonkers (the board game)           19.314642
Reggie Jackson Bar                 20.124611
Maynards                           20.436137
JoyJoy (Mit Iodine!)               20.747664
Length: 110, dtype: float64

logramos bajar a un 20.74% de datos vacios en la columna que tiene mas datos vacios

checaremos cuantos no contestaron la pregunta de genero

In [ ]:
df['GENDER'].isna().sum()

9

Consideraremos si eliminamos los que no contestaron el genero, pero los dejaremos para después. Por eso no le hacemos un inplace=True o asignamos a la variable df

In [ ]:
df.dropna(subset=['GENDER'], axis=0)

,GOING OUT?,GENDER,AGE,COUNTRY,"STATE, PROVINCE, COUNTY, ETC",100 Grand Bar,Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Any full-sized candy bar,Black Jacks,Bonkers (the candy),...,Trail Mix,Twix,"Vials of pure high fructose corn syrup, for main-lining into your vein",Vicodin,Whatchamacallit Bars,White Bread,Whole Wheat anything,York Peppermint Patties,DRESS,DAY
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,JOY,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday
5,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,NaN,...,MEH,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,NaN,NaN
7,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,...,DESPAIR,JOY,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,Blue and black,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,No,Female,40,canada,bc,MEH,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,JOY,DESPAIR,DESPAIR,NaN,DESPAIR,DESPAIR,JOY,White and gold,Sunday
2454,No,Female,26,USA,Michigan,JOY,MEH,JOY,DESPAIR,MEH,...,JOY,JOY,MEH,MEH,JOY,MEH,MEH,JOY,White and gold,Friday
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,NaN,...,DESPAIR,JOY,NaN,NaN,JOY,DESPAIR,MEH,JOY,Blue and black,Friday
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,MEH,MEH,MEH,JOY,MEH,DESPAIR,DESPAIR,MEH,Blue and black,Friday
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,JOY,White and gold,Sunday

Obtenemos todas las columnas que pertenecen a la pregunta 6. La cual es de opcion multiple y tiene 3 opciones: 'JOY','MEH','DESPAIR'

In [ ]:
columnas_pregunta_6 = df.columns[5:-2]

Creamos una funcion que nos da los valores unicos de respuesta y los transforma en un diccionario para utilizar la funcion map posteriormente

In [ ]:
def column_to_dictionary(column) :
  dictionary = pd.DataFrame(column.unique().tolist()).to_dict()[0]
  return {x:y for y, x in dictionary.items()}

Transformamos las respuestas de la pregunta 6 en un dictionario

In [ ]:
series_name = column_to_dictionary(df[df.columns[5]])
series_name

{'MEH': 0, 'JOY': 1, nan: 2, 'DESPAIR': 3}

observamos que quedan nan en la columna

In [ ]:
len(df)

1605

creamos una funcion que cuenta cuantos joy, meh, despair y vacios tiene cada columna que le pasemos

In [ ]:
def column_values_count(column_name) :
  joy = [i == 'JOY'  for i in df[column_name]].count(True)
  meh = [i == 'MEH' for i in df[column_name]].count(True)
  despair = [i == 'DESPAIR' for i in df[column_name]].count(True)
  nan = len(df) - joy - meh - despair
  print(column_name, joy, meh, despair, nan, len(df), max([joy, meh, despair]))

hacemos un ciclo con todas las columnas de la pregunta 6 para analizar los datos de joy, meh, despair, para ver si encontramos patrones y saber que hacer con los datos

In [ ]:
for i in columnas_pregunta_6 :
  column_values_count(i)

100 Grand Bar 777 674 72 82 1605 777
Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes) 151 404 980 70 1605 980
Any full-sized candy bar 1395 182 14 14 1605 1395
Black Jacks 83 544 704 274 1605 704
Bonkers (the candy) 102 771 432 300 1605 771
Bonkers (the board game) 179 629 487 310 1605 629
Bottle Caps 408 602 504 91 1605 602
Box'o'Raisins 98 427 1058 22 1605 1058
Broken glow stick 22 91 1454 38 1605 1454
Butterfinger 1040 412 130 23 1605 1040
Cadbury Creme Eggs 742 489 353 21 1605 742
Candy Corn 431 500 658 16 1605 658
Candy that is clearly just the stuff given out for free at restaurants 37 357 1187 24 1605 1187
Caramellos 846 532 145 82 1605 846
Cash, or other forms of legal tender 1286 242 57 20 1605 1286
Chardonnay 938 316 276 75 1605 938
Chick-o-Sticks (we donÕt know what that is) 261 506 577 261 1605 577
Chiclets 222 664 677 42 1605 677
Coffee Crisp 424 520 484 177 1605 520
Creepy Religious comics/Chick Tracts 213 94 1261 37 1605 1261
Dental paraphenalia 78 213 1286 28 1605 1286
Dots 362 593 593 57 1605 593
Dove Bars 1054 419 93 39 1605 1054
Fuzzy Peaches 356 495 606 148 1605 606
Generic Brand Acetaminophen 140 354 1052 59 1605 1052
Glow sticks 549 635 388 33 1605 635
Goo Goo Clusters 371 627 411 196 1605 627
Good N' Plenty 368 516 656 65 1605 656
Gum from baseball cards 39 207 1309 50 1605 1309
Gummy Bears straight up 663 527 387 28 1605 663
Hard Candy 248 812 518 27 1605 812
Healthy Fruit 198 609 765 33 1605 765
Heath Bar 952 414 190 49 1605 952
Hershey's Dark Chocolate 988 446 160 11 1605 988
HersheyÕs Milk Chocolate 803 596 196 10 1605 803
Hershey's Kisses 748 650 192 15 1605 748
Hugs (actual physical hugs) 388 379 793 45 1605 793
Jolly Rancher (bad flavor) 87 533 956 29 1605 956
Jolly Ranchers (good flavor) 667 569 339 30 1605 667
JoyJoy (Mit Iodine!) 67 354 851 333 1605 851
Junior Mints 916 436 220 33 1605 916
Senior Mints 141 415 798 251 1605 798
Kale smoothie 89 146 1296 74 1605 1296
Kinder Happy Hippo 454 388 505 258 1605 505
Kit Kat 1287 257 48 13 1605 1287
LaffyTaffy 395 652 491 67 1605 652
LemonHeads 589 623 330 63 1605 623
Licorice (not black) 492 636 456 21 1605 636
Licorice (yes black) 481 297 806 21 1605 806
Lindt Truffle 1141 330 84 50 1605 1141
Lollipops 326 847 407 25 1605 847
Mars 917 520 113 55 1605 917
Maynards 135 625 517 328 1605 625
Mike and Ike 480 585 483 57 1605 585
Milk Duds 781 576 219 29 1605 781
Milky Way 1069 420 90 26 1605 1069
Regular M&Ms 1003 520 68 14 1605 1003
Peanut M&MÕs 1148 332 114 11 1605 1148
Blue M&M's 917 524 105 59 1605 917
Red M&M's 898 532 114 61 1605 898
Green Party M&M's 867 518 124 96 1605 867
Independent M&M's 680 552 234 139 1605 680
Abstained from M&M'ing. 198 532 619 256 1605 619
Minibags of chips 484 677 390 54 1605 677
Mint Kisses 557 568 376 104 1605 568
Mint Juleps 817 296 363 129 1605 817
Mr. Goodbar 767 575 195 68 1605 767
Necco Wafers 308 509 716 72 1605 716
Nerds 690 543 320 52 1605 690
Nestle Crunch 1063 418 92 32 1605 1063
Now'n'Laters 317 658 490 140 1605 658
Peeps 216 382 965 42 1605 965
Pencils 163 435 970 37 1605 970
Pixy Stix 489 580 486 50 1605 580
Real Housewives of Orange County Season 9 Blue-Ray 79 122 1325 79 1605 1325
ReeseÕs Peanut Butter Cups 1329 168 91 17 1605 1329
Reese's Pieces 1003 413 160 29 1605 1003
Reggie Jackson Bar 229 627 426 323 1605 627
Rolos 1023 409 126 47 1605 1023
Sandwich-sized bags filled with BooBerry Crunch 185 291 1032 97 1605 1032
Skittles 744 540 283 38 1605 744
Smarties (American) 653 515 382 55 1605 653
Smarties (Commonwealth) 491 537 364 213 1605 537
Snickers 1254 258 68 25 1605 1254
Sourpatch Kids (i.e. abominations of nature) 678 403 454 70 1605 678
Spotted Dick 110 277 1022 196 1605 1022
Starburst 767 546 264 28 1605 767
Sweet Tarts 708 539 316 42 1605 708
Swedish Fish 666 486 406 47 1605 666
Sweetums (a friend to diabetes) 138 492 665 310 1605 665
Take 5 518 550 311 226 1605 550
Tic Tacs 237 648 676 44 1605 676
Those odd marshmallow circus peanut things 167 247 1125 66 1605 1125
Three Musketeers 949 461 151 44 1605 949
Tolberone something or other 1187 307 74 37 1605 1187
Trail Mix 193 617 754 41 1605 754
Twix 1263 249 66 27 1605 1263
Vials of pure high fructose corn syrup, for main-lining into your vein 206 259 1025 115 1605 1025
Vicodin 647 211 635 112 1605 647
Whatchamacallit Bars 752 461 256 136 1605 752
White Bread 37 184 1305 79 1605 1305
Whole Wheat anything 95 287 1151 72 1605 1151
York Peppermint Patties 986 376 207 36 1605 986

Como no encontramos patrones visiblemente, cecidimos crear una nueva clasificacion llamada NC(no contesto) para no alterar los datos y llenamos los na con esta nueva clasificación

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2.columns[5:-2]] = df2[df2.columns[5:-2]].fillna("NC")

In [ ]:
df = df2.copy()

para la pregunta 6 ya no hay vacios

In [ ]:
porcentaje_vacios()

GENDER                          0.560748
DAY                             0.685358
COUNTRY                         0.996885
DRESS                           1.682243
AGE                             1.869159
STATE, PROVINCE, COUNTY, ETC    2.180685
GOING OUT?                      3.302181
dtype: float64

In [ ]:
series_name = column_to_dictionary(df[df.columns[5]])
series_name

{'MEH': 0, 'JOY': 1, 'NC': 2, 'DESPAIR': 3}

Transformamos los datos de estas columnas a numerico con el diccionario que viene arriba

In [ ]:
for column_name in df.columns[5:-2]:
  df[column_name]=df[column_name].map(series_name)
df.head()

,GOING OUT?,GENDER,AGE,COUNTRY,"STATE, PROVINCE, COUNTY, ETC",100 Grand Bar,Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Any full-sized candy bar,Black Jacks,Bonkers (the candy),...,Trail Mix,Twix,"Vials of pure high fructose corn syrup, for main-lining into your vein",Vicodin,Whatchamacallit Bars,White Bread,Whole Wheat anything,York Peppermint Patties,DRESS,DAY
1,No,Male,44,USA,NM,0,3,1,0,3,...,3,1,3,3,3,3,3,3,White and gold,Sunday
3,No,Male,40,us,or,0,3,1,0,0,...,0,1,3,1,1,3,3,3,White and gold,Sunday
4,No,Male,23,usa,exton pa,1,3,1,3,0,...,3,1,0,1,1,3,3,1,White and gold,Friday
5,No,Male,NaN,NaN,NaN,1,3,1,2,2,...,0,1,3,3,1,3,3,1,NaN,NaN
7,No,Male,33,canada,ontario,1,3,1,3,3,...,3,1,1,0,3,3,3,3,Blue and black,Friday

buscamos que otras columnas son de tipo objeto y vemos su informacion

In [ ]:
df.select_dtypes(include=object).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1605 entries, 1 to 2459
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GOING OUT?                    1552 non-null   object
 1   GENDER                        1596 non-null   object
 2   AGE                           1575 non-null   object
 3   COUNTRY                       1589 non-null   object
 4   STATE, PROVINCE, COUNTY, ETC  1570 non-null   object
 5   DRESS                         1578 non-null   object
 6   DAY                           1594 non-null   object
dtypes: object(7)
memory usage: 100.3+ KB

Analizaremos la edad, para tratar de entender los datos que no son numéricos

In [ ]:
for val in df['AGE'] :
  if(not(str(val).isnumeric())):
      print(val)

nan
Old enough
Many
?
no
nan
nan
nan
nan
45-55
nan
nan
nan
hahahahaha
nan
nan
nan
nan
older than dirt
nan
nan
nan
Enough
See question 2
nan
24-50
nan
ancient
nan
nan
nan
nan
nan
nan
old
nan
nan
nan
MY NAME JEFF
59 on the day after Halloween
old enough
nan
nan
nan
I can remember when Java was a cool new language
nan

los datos que intuimos que son numericos pero vienen en forma de rango o con texto extra los transformamos al numero sin el texto, o al promedio del rango

In [ ]:
df['AGE'] = df['AGE'].replace(['59 on the day after Halloween'],59)
df['AGE'] = df['AGE'].replace(['24-50'],37)
df['AGE'] = df['AGE'].replace(['45-55'],50)

Transformamos los valores que son texto y no nos dan información de la edad en nan, para luego llenarlos con el promedio

In [ ]:
lista_edades_string = []
for id, val in enumerate(df['AGE']):
  if(not(str(val).isnumeric())):
    if not(str(val)) == "nan":
      lista_edades_string.append(val)
df['AGE']=df['AGE'].replace(lista_edades_string, np.nan)

verificamos que nos queden solo nan

In [ ]:
for val in df['AGE'] :
  if(not(str(val).isnumeric())):
      print(val)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

obtenemos el promedio de edad en tipo entero

In [ ]:
df[df['AGE'].notna()]['AGE'].astype(int).mean().astype(int)

43

asignamos a los vacios el promedio de la edad

In [ ]:
df['AGE']=df['AGE'].fillna(df[df['AGE'].notna()]['AGE'].astype(int).mean().astype(int))

In [ ]:
porcentaje_vacios()

GENDER                          0.560748
DAY                             0.685358
COUNTRY                         0.996885
DRESS                           1.682243
STATE, PROVINCE, COUNTY, ETC    2.180685
GOING OUT?                      3.302181
dtype: float64

Ahora analizamos el país

In [ ]:
df['COUNTRY'].unique()

array(['USA ', 'us', 'usa', nan, 'canada', 'Canada', 'Us', 'US', 'USA',
       'uk', 'United States', 'united states', 'United staes',
       'United Kingdom', 'United States of America', 'UAE',
       'United States ', 'England', 'Usa', 'canada ', 'United states',
       'USAUSAUSA', 'america', 'france', 'United States of America ',
       'U.S.A.', 'Mexico', 'Canada ', 'united states of america',
       'US of A', 'UK', 'Unites States', 'The United States',
       'North Carolina ', 'Netherlands', 'Earth', 'U S', 'u.s.',
       'Costa Rica', 'The United States of America', 'insanity lately',
       'Greece', 'USA? Hard to tell anymore..', "'merica", 'United State',
       'France', 'U.S.', 'A', 'Can', 'Canae', 'Trumpistan', 'Ireland',
       'United Sates', 'Korea', 'Australia', 'California', 'Japan', 'USa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Iceland', 'Scotland', 'Denmark', 'France ', 'Uk',
       'Switzerland', 'Ahem....Amerca', 'South Korea', 'New Jersey',
       'CANADA', 'United Stated', 'Germany', 'America', 'United Statss',
       'endland', 'Atlantis', 'murrika', 'united States ', 'germany',
       'N. America', 'Singapore', 'USSA', 'Taiwan', 'China', 'spain',
       'Narnia', 'u s a', 'United Statea',
       'subscribe to dm4uz3 on youtube', 'USA USA USA!!!!',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

hay muchas formas en las que escriben los paises, empezaremos por limpiar estados unidos

In [ ]:
usa = ['USA ', 'us', 'usa',  'Us', 'US', 'USA',
       'United States', 'united states', 'United staes','United States of America', 
       'United States ',  'Usa', 'United states',
       'USAUSAUSA', 'america',  'United States of America ',
       'U.S.A.',  'united states of america',
       'US of A',  'Unites States', 'The United States',
       'North Carolina ', 'U S', 'u.s.', 'The United States of America',  'USA? Hard to tell anymore..', "'merica", 'United State', 'U.S.',  'Trumpistan',
       'United Sates', 'California','USa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Ahem....Amerca',  'New Jersey','United Stated','America', 'United Statss', 'united States ',
       'N. America',  'USSA', 'u s a', 'United Statea', 'USA USA USA!!!!',
       ]

In [ ]:
df['COUNTRY'] = df['COUNTRY'].replace(usa,'USA')

In [ ]:
df['COUNTRY'].unique()

array(['USA', nan, 'canada', 'Canada', 'uk', 'United Kingdom', 'UAE',
       'England', 'canada ', 'france', 'Mexico', 'Canada ', 'UK',
       'Netherlands', 'Earth', 'Costa Rica', 'insanity lately', 'Greece',
       'France', 'A', 'Can', 'Canae', 'Ireland', 'Korea', 'Australia',
       'Japan', 'Iceland', 'Scotland', 'Denmark', 'France ', 'Uk',
       'Switzerland', 'South Korea', 'CANADA', 'Germany', 'endland',
       'Atlantis', 'murrika', 'germany', 'Singapore', 'Taiwan', 'China',
       'spain', 'Narnia', 'subscribe to dm4uz3 on youtube',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

Ahora Canada

In [ ]:
canada = ['canada', 'Canada',  'canada ',  'Canada ', 'Can', 'Canae',  'CANADA',]

In [ ]:
df['COUNTRY'] = df['COUNTRY'].replace(canada,'Canada')

In [ ]:
df['COUNTRY'].unique()

array(['USA', nan, 'Canada', 'uk', 'United Kingdom', 'UAE', 'England',
       'france', 'Mexico', 'UK', 'Netherlands', 'Earth', 'Costa Rica',
       'insanity lately', 'Greece', 'France', 'A', 'Ireland', 'Korea',
       'Australia', 'Japan', 'Iceland', 'Scotland', 'Denmark', 'France ',
       'Uk', 'Switzerland', 'South Korea', 'Germany', 'endland',
       'Atlantis', 'murrika', 'germany', 'Singapore', 'Taiwan', 'China',
       'spain', 'Narnia', 'subscribe to dm4uz3 on youtube',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

Ahora Reino Unido

In [ ]:
uk = ['uk', 'United Kingdom',  'England',
        'UK', 
       'Uk',  'endland',
       ]

In [ ]:
df['COUNTRY'] = df['COUNTRY'].replace(uk,'UK')
df['COUNTRY'].unique()

array(['USA', nan, 'Canada', 'UK', 'UAE', 'france', 'Mexico',
       'Netherlands', 'Earth', 'Costa Rica', 'insanity lately', 'Greece',
       'France', 'A', 'Ireland', 'Korea', 'Australia', 'Japan', 'Iceland',
       'Scotland', 'Denmark', 'France ', 'Switzerland', 'South Korea',
       'Germany', 'Atlantis', 'murrika', 'germany', 'Singapore', 'Taiwan',
       'China', 'spain', 'Narnia', 'subscribe to dm4uz3 on youtube',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

Pondremos vacios los datos que no son paises conocidos o paises inventados

In [ ]:
empty = [ 'Earth','insanity lately',  'A', 'Atlantis', 'murrika', 'Narnia', 'subscribe to dm4uz3 on youtube',
       "I don't know anymore", 'Fear and Loathing']

In [ ]:
df['COUNTRY'] = df['COUNTRY'].replace(empty,np.nan)
df['COUNTRY'].unique()

array(['USA', nan, 'Canada', 'UK', 'UAE', 'france', 'Mexico',
       'Netherlands', 'Costa Rica', 'Greece', 'France', 'Ireland',
       'Korea', 'Australia', 'Japan', 'Iceland', 'Scotland', 'Denmark',
       'France ', 'Switzerland', 'South Korea', 'Germany', 'germany',
       'Singapore', 'Taiwan', 'China', 'spain'], dtype=object)

Ponemos los nombres de paises en mayusculas

y les quitamos los espacios al final y principio ¿Porqué no se nos ocurrio eso primero?

In [ ]:
df['COUNTRY'] = df['COUNTRY'].str.upper()
df['COUNTRY']=df['COUNTRY'].str.strip()

Verificamos que no tengamos duplicados

In [ ]:
pd.Series(df['COUNTRY'].unique()).sort_values()

12      AUSTRALIA
2          CANADA
22          CHINA
8      COSTA RICA
16        DENMARK
5          FRANCE
19        GERMANY
9          GREECE
14        ICELAND
10        IRELAND
13          JAPAN
11          KOREA
6          MEXICO
7     NETHERLANDS
15       SCOTLAND
20      SINGAPORE
18    SOUTH KOREA
23          SPAIN
17    SWITZERLAND
21         TAIWAN
4             UAE
3              UK
0             USA
1             NaN
dtype: object

Asignamos los vacios a un pais que se llama 'No respondio'

In [ ]:
df['COUNTRY']=df['COUNTRY'].fillna('NO RESPONDIO')

In [ ]:
porcentaje_vacios()

GENDER                          0.560748
DAY                             0.685358
DRESS                           1.682243
STATE, PROVINCE, COUNTY, ETC    2.180685
GOING OUT?                      3.302181
dtype: float64

Retomamos el genero

In [ ]:
df['GENDER'].unique()

array(['Male', 'Female', "I'd rather not say", 'Other', nan], dtype=object)

Llenamos los vacios con la respuesta "I'd rather not say" debido a que no lo contestaron

In [ ]:
df['GENDER']=df['GENDER'].fillna("I'd rather not say")

In [ ]:
porcentaje_vacios()

DAY                             0.685358
DRESS                           1.682243
STATE, PROVINCE, COUNTY, ETC    2.180685
GOING OUT?                      3.302181
dtype: float64

Ahora vamos a analizar el estado

In [ ]:
df['STATE, PROVINCE, COUNTY, ETC'].isna().sum()

35

In [ ]:
len(df['STATE, PROVINCE, COUNTY, ETC'].unique())

410

Eliminaremos la columna debido a que hay muchos datos únicos y la pregunta es abierta

In [ ]:
df.drop(columns=['STATE, PROVINCE, COUNTY, ETC'], inplace=True)

In [ ]:
porcentaje_vacios()

DAY           0.685358
DRESS         1.682243
GOING OUT?    3.302181
dtype: float64

Decidimos eliminar DAY y DRESS tambien porque son preguntas sarcasticas, eso dice la encuesta

In [ ]:
df.drop(columns=['DAY','DRESS'], inplace=True)

In [ ]:
porcentaje_vacios()

GOING OUT?    3.302181
dtype: float64

In [ ]:
df['GOING OUT?'].unique()

array(['No', 'Yes', nan], dtype=object)

decidimos dejar los vacios porque los transformaremos en un diccionario y sera como si respondieran no contesto

In [ ]:
columnas_object = df.select_dtypes(include=object).columns.tolist()

In [ ]:
columnas_object.remove('AGE')

In [ ]:
columnas_object

['GOING OUT?', 'GENDER', 'COUNTRY']

Transformamos las columnas en diccionarios

In [ ]:
for i in columnas_object :
  print(column_to_dictionary(df[i]))
  df[i] = df[i].map(column_to_dictionary(df[i]))

{'No': 0, 'Yes': 1, nan: 2}
{'Male': 0, 'Female': 1, "I'd rather not say": 2, 'Other': 3}
{'USA': 0, 'NO RESPONDIO': 1, 'CANADA': 2, 'UK': 3, 'UAE': 4, 'FRANCE': 5, 'MEXICO': 6, 'NETHERLANDS': 7, 'COSTA RICA': 8, 'GREECE': 9, 'IRELAND': 10, 'KOREA': 11, 'AUSTRALIA': 12, 'JAPAN': 13, 'ICELAND': 14, 'SCOTLAND': 15, 'DENMARK': 16, 'SWITZERLAND': 17, 'SOUTH KOREA': 18, 'GERMANY': 19, 'SINGAPORE': 20, 'TAIWAN': 21, 'CHINA': 22, 'SPAIN': 23}

In [ ]:
df.select_dtypes(include=object).columns.tolist()

['AGE']

solo queda la edad y la transformamos en tipo de dato int

In [ ]:
df['AGE'] = df['AGE'].astype(int)

Verificamos que no queden columnas vacias

In [ ]:
porcentaje_vacios()

Series([], dtype: float64)

verificamos que no queden columnas de otro tipo que no sean int

In [ ]:
len(df.select_dtypes(include=int).columns.tolist()) - df.shape[1]

0

Tenemos nuestro dataset listo para trabajarlo y responder las preguntas

In [ ]:
df.head()

,GOING OUT?,GENDER,AGE,COUNTRY,100 Grand Bar,Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Any full-sized candy bar,Black Jacks,Bonkers (the candy),Bonkers (the board game),...,Three Musketeers,Tolberone something or other,Trail Mix,Twix,"Vials of pure high fructose corn syrup, for main-lining into your vein",Vicodin,Whatchamacallit Bars,White Bread,Whole Wheat anything,York Peppermint Patties
1,0,0,44,0,0,3,1,0,3,3,...,1,1,3,1,3,3,3,3,3,3
3,0,0,40,0,0,3,1,0,0,3,...,3,1,0,1,3,1,1,3,3,3
4,0,0,23,0,1,3,1,3,0,3,...,1,1,3,1,0,1,1,3,3,1
5,0,0,43,1,1,3,1,2,2,2,...,1,1,0,1,3,3,1,3,3,1
7,0,0,33,2,1,3,1,3,3,0,...,1,0,3,1,1,0,3,3,3,3

# Respuestas a las preguntas planteadas

## ¿Cuál es el dulce que más le gusta a las personas?

In [ ]:
series_name

{'MEH': 0, 'JOY': 1, 'NC': 2, 'DESPAIR': 3}

Buscaremos cual es el que tiene mas JOY

In [ ]:
dulces_mas_queridos = df[df[columnas_pregunta_6] == 1][columnas_pregunta_6].count().sort_values(ascending=False)

In [ ]:
print('Los dulces que producen mayor felicidad son:',dulces_mas_queridos[0:1].index[0],"con",dulces_mas_queridos[0:1][0],"respuestas")

Los dulces que producen mayor felicidad son: Any full-sized candy bar con 1395 respuestas

## ¿Hay dulces que le gusten más a cierto rango de edad?

In [ ]:
rangos_edad = [(0,10),(11,20),(21,30),(31,40),(41,50),(51,60),(61,70),(71,80),(81,90),(91,150)]

In [ ]:
for i in rangos_edad:
  edades = df[(df['AGE']>=i[0])&(df['AGE']<=i[1])].copy()
  
  dulces_mas_queridos_por_edad = edades[edades[columnas_pregunta_6] == 1][columnas_pregunta_6].count().sort_values(ascending=False)
  print('Los dulces que producen mayor felicidad para las edades entre [',i[0],' y ',i[1],'] son:',dulces_mas_queridos_por_edad[0:1].index[0],"con",dulces_mas_queridos_por_edad[0:1][0],"respuestas")

Los dulces que producen mayor felicidad para las edades entre [ 0  y  10 ] son: Cash, or other forms of legal tender con 8 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 11  y  20 ] son: Cash, or other forms of legal tender con 36 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 21  y  30 ] son: Any full-sized candy bar con 144 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 31  y  40 ] son: Any full-sized candy bar con 430 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 41  y  50 ] son: Any full-sized candy bar con 469 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 51  y  60 ] son: ReeseÕs Peanut Butter Cups con 227 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 61  y  70 ] son: Any full-sized candy bar con 72 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 71  y  80 ] son: Cash, or other forms of legal tender con 12 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 81  y  90 ] son: York Peppermint Patties con 3 respuestas
Los dulces que producen mayor felicidad para las edades entre [ 91  y  150 ] son: Any full-sized candy bar con 3 respuestas

## ¿Cuál dulce le gusta más a los hombres?

{'Male': 0, 'Female': 1, "I'd rather not say": 2, 'Other': 3}

In [ ]:
hombres=df[df['GENDER']==0].copy()

In [ ]:
dulces_mas_queridos_por_hombres = hombres[hombres[columnas_pregunta_6] == 1][columnas_pregunta_6].count().sort_values(ascending=False)

In [ ]:
print('Los dulces que producen mayor felicidad a los hombres son:',dulces_mas_queridos_por_hombres[0:1].index[0],"con",dulces_mas_queridos_por_hombres[0:1][0],"respuestas")

Los dulces que producen mayor felicidad a los hombres son: Any full-sized candy bar con 843 respuestas

## ¿Cuál dulce le gusta más a las mujeres?

In [ ]:
mujeres=df[df['GENDER']==1].copy()

In [ ]:
dulces_mas_queridos_por_mujeres = mujeres[mujeres[columnas_pregunta_6] == 1][columnas_pregunta_6].count().sort_values(ascending=False)

In [ ]:
print('Los dulces que producen mayor felicidad a los mujeres son:',dulces_mas_queridos_por_mujeres[0:1].index[0],"con",dulces_mas_queridos_por_mujeres[0:1][0],"respuestas")

Los dulces que producen mayor felicidad a los mujeres son: Any full-sized candy bar con 483 respuestas

## ¿Cuales son el top 5 de dulces en estados unidos?

{'USA': 0, 'NO RESPONDIO': 1, 'CANADA': 2, 'UK': 3, 'UAE': 4, 'FRANCE': 5, 'MEXICO': 6, 'NETHERLANDS': 7, 'COSTA RICA': 8, 'GREECE': 9, 'IRELAND': 10, 'KOREA': 11, 'AUSTRALIA': 12, 'JAPAN': 13, 'ICELAND': 14, 'SCOTLAND': 15, 'DENMARK': 16, 'SWITZERLAND': 17, 'SOUTH KOREA': 18, 'GERMANY': 19, 'SINGAPORE': 20, 'TAIWAN': 21, 'CHINA': 22, 'SPAIN': 23}

In [ ]:
usa = df[df['COUNTRY']==0].copy()

In [ ]:
dulces_mas_queridos_de_usa = usa[usa[columnas_pregunta_6] == 1][columnas_pregunta_6].count().sort_values(ascending=False)
print('Los 5 dulces que producen mayor felicidad a USA son:')
for i in range(0,5):
  print((i+1),'.-',dulces_mas_queridos_de_usa[i:i+1].index[0],"con",dulces_mas_queridos_de_usa[i:i+1][0],"respuestas")

Los 5 dulces que producen mayor felicidad a USA son:
1 .- Any full-sized candy bar con 1191 respuestas
2 .- ReeseÕs Peanut Butter Cups con 1138 respuestas
3 .- Kit Kat con 1106 respuestas
4 .- Twix con 1101 respuestas
5 .- Cash, or other forms of legal tender con 1096 respuestas

## ¿Podremos obtener información de los dulces de otros paises?

In [ ]:
paises = {'USA': 0, 'NO RESPONDIO': 1, 'CANADA': 2, 'UK': 3, 'UAE': 4, 'FRANCE': 5, 'MEXICO': 6, 'NETHERLANDS': 7, 'COSTA RICA': 8, 'GREECE': 9, 'IRELAND': 10, 'KOREA': 11, 'AUSTRALIA': 12, 'JAPAN': 13, 'ICELAND': 14, 'SCOTLAND': 15, 'DENMARK': 16, 'SWITZERLAND': 17, 'SOUTH KOREA': 18, 'GERMANY': 19, 'SINGAPORE': 20, 'TAIWAN': 21, 'CHINA': 22, 'SPAIN': 23}

In [ ]:
def dulces_paises(valor, indice):
  pais = usa = df[df['COUNTRY']==indice].copy()
  dulces_mas_queridos_de_pais = pais[pais[columnas_pregunta_6] == 1][columnas_pregunta_6].count().sort_values(ascending=False)
  print('* Los dulces que producen mayor felicidad a',valor,'son:',dulces_mas_queridos_de_pais[0:1].index[0],"con",dulces_mas_queridos_de_pais[0:1][0],"respuestas")

In [ ]:
{dulces_paises(val,x) for x, val in enumerate(paises)}

* Los dulces que producen mayor felicidad a USA son: Any full-sized candy bar con 1191 respuestas
* Los dulces que producen mayor felicidad a NO RESPONDIO son: Any full-sized candy bar con 22 respuestas
* Los dulces que producen mayor felicidad a CANADA son: Any full-sized candy bar con 132 respuestas
* Los dulces que producen mayor felicidad a UK son: Rolos con 17 respuestas
* Los dulces que producen mayor felicidad a UAE son: Skittles con 1 respuestas
* Los dulces que producen mayor felicidad a FRANCE son: Milky Way con 3 respuestas
* Los dulces que producen mayor felicidad a MEXICO son: Pixy Stix con 2 respuestas
* Los dulces que producen mayor felicidad a NETHERLANDS son: Smarties (Commonwealth) con 3 respuestas
* Los dulces que producen mayor felicidad a COSTA RICA son: 100 Grand Bar con 1 respuestas
* Los dulces que producen mayor felicidad a GREECE son: York Peppermint Patties con 1 respuestas
* Los dulces que producen mayor felicidad a IRELAND son: Nestle Crunch con 2 respuestas
* Los dulces que producen mayor felicidad a KOREA son: 100 Grand Bar con 1 respuestas
* Los dulces que producen mayor felicidad a AUSTRALIA son: Cash, or other forms of legal tender con 2 respuestas
* Los dulces que producen mayor felicidad a JAPAN son: Twix con 3 respuestas
* Los dulces que producen mayor felicidad a ICELAND son: Mars con 1 respuestas
* Los dulces que producen mayor felicidad a SCOTLAND son: Mars con 3 respuestas
* Los dulces que producen mayor felicidad a DENMARK son: Mars con 2 respuestas
* Los dulces que producen mayor felicidad a SWITZERLAND son: Regular M&Ms con 2 respuestas
* Los dulces que producen mayor felicidad a SOUTH KOREA son: 100 Grand Bar con 1 respuestas
* Los dulces que producen mayor felicidad a GERMANY son: Any full-sized candy bar con 5 respuestas
* Los dulces que producen mayor felicidad a SINGAPORE son: Milky Way con 1 respuestas
* Los dulces que producen mayor felicidad a TAIWAN son: 100 Grand Bar con 1 respuestas
* Los dulces que producen mayor felicidad a CHINA son: Licorice (yes black) con 1 respuestas
* Los dulces que producen mayor felicidad a SPAIN son: 100 Grand Bar con 1 respuestas

{None}